.header {
    background-image: url(../img/Layer14.png);
    background-position: center;
    height: 707px;
    &__items {
        width: 535px;
        height: 240px;
        max-width: 90%;
        &--up {
            background-color: $orange;
            width: 165px;
            height: 45px;
        }
        &--text {
            background-color: $blue;
            max-width: 458px;
            min-height: 192px;

        }
        &--read {
            width: 126px;
            height: 43px;
            transform: translateY(-43px);
        }
    }
}
